
    <div id="hero">
      <div class="redoverlay">
          <div class="container">
              <div class="row">
                  <div class="herotext">
                      <h2 class="wow zoomInDown" data-wow-duration="3s">HoHO Christmas Scavenger Hunt!</h2>

                      <p class="wow fadeInUp" data-wow-duration="2s">Offer ends On December 31 Wednesday</p>

                      <img class="bigbell wow tada infinite" data-wow-duration="30s" src="../../assets/img/bell.png" alt="">
                  </div>

                  <div class="santa wow bounceInDown" data-wow-duration="2s">
                      <img src="../../assets/img/santa.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div><!--HERO SECTION END-->

